@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "MVC4-Bootstraped";
}

@section mobile_header
{
    <h1>mvc4 bootstrapped</h1>    
}

@section body_scripts
{
    <!-- additional scripts -->
}

<h2>sample page</h2>
